.page-view-chart-wrapper {
    canvas {
      width: 100%;
    }
  }
  
  .rag{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .highcharts-drilldown-data-label text{
    text-decoration:none !important;
    color:black !important;
  }
  
  