<style>
  table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 7px !important;
  }
</style>
<div class="az-content">
    <div class="container">
      <app-components-sidebar></app-components-sidebar>
      <div class="az-content-body pd-lg-l-40 d-flex flex-column">
  
        <div style="text-align: left;"><h4>{{page_title}}</h4></div>
        <div style="text-align: right;">Total Sum: <b>{{amount_sum}}</b></div>
  
        <div class="table-responsive">
          <table id="datatable" class="table table-striped mg-b-0">
            <thead>
              <tr>
                <th *ngFor="let header of table_headers">{{header}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of table_data">
                <td *ngFor="let val of Object.keys(row)">
                  {{row[val]}}
               </td>
              </tr>
            </tbody>
          </table>
        </div>
  
      </div>
    </div>
  </div>